/******************************************************/
/*      hoja de estilo de Hamburguesa.html            */
/*      autor: Victor de Miguel Diez                  */
/*      version: 1.0                                  */
/*      fecha: octubre 2023                           */
/*      comentario: ejercicio para portfolio (1)      */
/******************************************************/

@font-face {
    font-family: textonormal;
    src: url(../fonts/Gioties-Regular.otf);
}

@font-face {
    font-family: titulo;
    src: url(../fonts/Sunday\ Mango.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-color: yellow;
    font-family: textonormal;
    font-size: 1.5em;
    margin: 0;
    padding: 1%;
    background-image:url(../img/comida.jpg);
    font-family: textonormal;
    font-size: 1.6em;
}


.responsive-image {
    max-width: 60%;
        display: block; 
        margin: 5vh auto;   
}

#wrapper {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 3%;
}

h1, h2 {
    font-family: titulo;
    text-align: center;
    border-bottom: 5px solid red;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px red;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

dd {
    color:rgb(44, 44, 32);
}

ol {
    color:rgb(44, 44, 32);
}

blockquote {
    border-left: 6px solid yellow;
    padding: 10px;
}

@media only screen and (max-width: 900px) {
    /* responsive */
    h1, h2 {
        width: 100%;
        font-size: 1.6em;
    }
    body {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 600px) {
    /* responsive movil */
    h1, h2 {
        width: 100%;
        font-size: 1.4em
    }

    #wrapper {
        width: 100%;
    }

    body {
        font-size: 1.2em;
    }
}